In [1]:
print("Hello world")

Hello world

In [1]:
spam_amaount = 0
print(spam_amaount)

spam_amaount = spam_amaount + 4

if spam_amaount > 0:
    print("But i dont want any spam")

viking_song = "Spam" * spam_amaount
print(viking_song)

0
But i dont want any spam
SpamSpamSpamSpam

In [4]:
import pandas as pd
d= {'col1': [1,2,3,4,7], 'col2':[4,5,6,9,5], 'col3': [7,8,12,1,11]}

df = pd.DataFrame(data=d)

print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

In [5]:
count_column = df.shape[1]
print(count_column)

3

In [7]:
avarage_pulse_max = max(80, 200, 90, 95, 100, 105, 110, 115, 120, 125)
print(avarage_pulse_max)

200

In [8]:
import numpy as np 
calorie_burnage = [240, 250, 260, 270, 280, 290, 300, 310, 320, 330]

avarage_calorie_burnage = np.mean(calorie_burnage)

print(avarage_calorie_burnage)

285.0

In [1]:
import pandas as pd 

data = {"name": ["jai", "princi", "Gaurav", "Anuj", "ravi", "Natasha", "riya"],
        'Age': [17, 17, 18, 17, 18, 17, 17],
        'Gender': ['M', 'F', 'M', 'M', 'M', 'F', 'F'],
        'Marks': [90, 76, 'NaN', 74, 65, 'NaN', 71]}

df = pd.DataFrame(data)

df

      name  Age Gender Marks
0      jai   17      M    90
1   princi   17      F    76
2   Gaurav   18      M   NaN
3     Anuj   17      M    74
4     ravi   18      M    65
5  Natasha   17      F   NaN
6     riya   17      F    71

In [2]:
c = avg = 0
for ele in df["Marks"]:
    if str(ele).isnumeric():
        c += 1
        avg += ele
avg /= c

df = df.replace(to_replace="NaN", value=avg)

df

C:\Users\ihsan\AppData\Local\Temp\ipykernel_5788\1244102253.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(to_replace="NaN", value=avg)

      name  Age Gender  Marks
0      jai   17      M   90.0
1   princi   17      F   76.0
2   Gaurav   18      M   75.2
3     Anuj   17      M   74.0
4     ravi   18      M   65.0
5  Natasha   17      F   75.2
6     riya   17      F   71.0

In [3]:
df ['Gender'] = df['Gender'].map({'M':0,
                                  'F':1, }).astype(float)

df

      name  Age  Gender  Marks
0      jai   17     0.0   90.0
1   princi   17     1.0   76.0
2   Gaurav   18     0.0   75.2
3     Anuj   17     0.0   74.0
4     ravi   18     0.0   65.0
5  Natasha   17     1.0   75.2
6     riya   17     1.0   71.0

In [5]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0])
print(mylist[1])
print(mylist[2])

for x in mylist:
    print(x)

1
2
3
1
2
3

In [ ]:
x = object()
y = object()

x_list = [x]
y_list = [y]
big_list = []

print